shared/templates/sdlc-queue-processor-workflow.json
{
  "name": "SDLC Queue Processor",
  "nodes": [
    {
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      }
    },
    {
      "id": "get_lock",
      "name": "GET LOCK.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        300
      ],
      "parameters": {
        "url": "={{ $env.GITEA_URL }}/api/v1/repos/{{ $env.GITEA_ORG }}/sdlc-platform/contents/LOCK.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "giteaApiToken",
          "name": "Gitea API Token"
        }
      }
    },
    {
      "id": "check_lock",
      "name": "Is locked?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "parameters": {
        "jsCode": "const content = Buffer.from($input.first().json.content, 'base64').toString('utf8');\nconst data = JSON.parse(content);\nreturn [{ json: { locked: data.locked } }];"
      }
    },
    {
      "id": "if_locked",
      "name": "IF locked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.locked }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "get_queue",
      "name": "GET QUEUE.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "url": "={{ $env.GITEA_URL }}/api/v1/repos/{{ $env.GITEA_ORG }}/sdlc-platform/contents/QUEUE.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "giteaApiToken",
          "name": "Gitea API Token"
        }
      }
    },
    {
      "id": "pop_queue",
      "name": "Pop item from queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "parameters": {
        "jsCode": "const file = $input.first().json;\nconst queue = JSON.parse(Buffer.from(file.content, 'base64').toString('utf8'));\n\nif (!queue.queue || queue.queue.length === 0) {\n  return [{ json: { empty: true } }];\n}\n\n// Herbereken scores (status kan tussentijds veranderd zijn)\nfunction calculateQueueScore(item) {\n  const TYPE_WEIGHTS = {\n    'bug': { 'critical': 100, 'major': 90, 'minor': 70, 'trivial': 50, '_default': 70 },\n    'issue': { 'security': 95, 'performance': 65, '_default': 60 },\n    'feature': { '_default': 30 },\n    'story': { '_default': 20 },\n    'epic': { '_default': 10 }\n  };\n  let typeWeight = 30;\n  const typeConfig = TYPE_WEIGHTS[item.type];\n  if (typeConfig) {\n    if (item.type === 'bug') typeWeight = typeConfig[item.severity] || typeConfig['_default'];\n    else if (item.type === 'issue') typeWeight = typeConfig[item.category] || typeConfig['_default'];\n    else typeWeight = typeConfig['_default'];\n  }\n  const PRIORITY_WEIGHTS = { 'critical': 40, 'high': 30, 'medium': 20, 'low': 10 };\n  const priorityWeight = PRIORITY_WEIGHTS[item.priority] || 20;\n  if (item.status === 'deploy-failed') return typeWeight + priorityWeight + 50;\n  const STATUS_WEIGHTS = { 'staging-verified': 15, 'testing': 12, 'review': 10, 'in-progress': 8, 'planned': 5, 'triaged': 3, 'new': 0 };\n  const statusWeight = STATUS_WEIGHTS[item.status] || 0;\n  return typeWeight + priorityWeight + statusWeight;\n}\n\nqueue.queue.forEach(item => {\n  item.queue_score = calculateQueueScore(item);\n});\nqueue.queue.sort((a, b) => {\n  if (b.queue_score !== a.queue_score) return b.queue_score - a.queue_score;\n  return new Date(a.queued_at) - new Date(b.queued_at);\n});\n\nconst item = queue.queue.shift();\nqueue.last_updated = new Date().toISOString();\n\nreturn [{\n  json: {\n    empty: false,\n    next_item: item,\n    remaining_queue: queue,\n    queue_sha: file.sha,\n    updated_queue_content: Buffer.from(JSON.stringify(queue, null, 2)).toString('base64')\n  }\n}];"
      }
    },
    {
      "id": "if_empty",
      "name": "IF queue empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.empty }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "get_frontmatter",
      "name": "GET item frontmatter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        500
      ],
      "parameters": {
        "url": "={{ $env.GITEA_URL }}/api/v1/repos/{{ $env.GITEA_ORG }}/sdlc-platform/contents/{{ $json.next_item.file_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "giteaApiToken",
          "name": "Gitea API Token"
        }
      }
    },
    {
      "id": "check_status",
      "name": "Check status changed?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        500
      ],
      "parameters": {
        "jsCode": "const file = $input.first().json;\nconst content = Buffer.from(file.content, 'base64').toString('utf8');\nconst popData = $('Pop item from queue').first().json;\n\n// Very simple yaml parsing for status\nconst match = content.match(/status:\\s*([^\\n]+)/);\nlet currentStatus = '';\nif (match) currentStatus = match[1].trim();\n\nconst changed = (currentStatus !== popData.next_item.status);\n\nreturn [{ json: { changed: changed, popData: popData } }];"
      }
    },
    {
      "id": "if_changed",
      "name": "IF status changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        500
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.changed }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "put_queue_changed",
      "name": "PUT QUEUE (item skipped)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        400
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GITEA_URL }}/api/v1/repos/{{ $env.GITEA_ORG }}/sdlc-platform/contents/QUEUE.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"chore(queue): remove processed item {{ $('Pop item from queue').first().json.next_item.item_id }}\", \"content\": \"{{ $('Pop item from queue').first().json.updated_queue_content }}\", \"sha\": \"{{ $('Pop item from queue').first().json.queue_sha }}\" }",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "author.name",
              "value": "sdlc-bot"
            },
            {
              "name": "author.email",
              "value": "sdlc-bot@7rb.nl"
            },
            {
              "name": "committer.name",
              "value": "sdlc-bot"
            },
            {
              "name": "committer.email",
              "value": "sdlc-bot@7rb.nl"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "giteaApiToken",
          "name": "Gitea API Token"
        }
      }
    },
    {
      "id": "acquire_lock_proc",
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2200,
        600
      ],
      "parameters": {
        "workflowId": "SDLC Lock Manager",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "acquire",
            "item_id": "={{ $json.popData.next_item.item_id }}",
            "pipeline_step": "={{ $json.popData.next_item.status }}"
          }
        }
      }
    },
    {
      "id": "if_acquired",
      "name": "IF acquired",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        600
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.acquired }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "put_queue_success",
      "name": "PUT QUEUE (success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2600,
        700
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GITEA_URL }}/api/v1/repos/{{ $env.GITEA_ORG }}/sdlc-platform/contents/QUEUE.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"chore(queue): remove started item {{ $('Pop item from queue').first().json.next_item.item_id }}\", \"content\": \"{{ $('Pop item from queue').first().json.updated_queue_content }}\", \"sha\": \"{{ $('Pop item from queue').first().json.queue_sha }}\" }",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "author.name",
              "value": "sdlc-bot"
            },
            {
              "name": "author.email",
              "value": "sdlc-bot@7rb.nl"
            },
            {
              "name": "committer.name",
              "value": "sdlc-bot"
            },
            {
              "name": "committer.email",
              "value": "sdlc-bot@7rb.nl"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "giteaApiToken",
          "name": "Gitea API Token"
        }
      }
    },
    {
      "id": "prep_request",
      "name": "Prepare SDLC Router Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        700
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst popData = $('Pop item from queue').first().json;\nconst body = { \n  \"ref\": \"refs/heads/main\", \n  \"commits\": [ \n    { \n      \"id\": popData.next_item.commit_sha || \"\", \n      \"modified\": [popData.next_item.file_path] \n    } \n  ] \n};\nconst signature = 'sha256=' + crypto.createHmac('sha256', $env.N8N_SECRET).update(JSON.stringify(body)).digest('hex');\nreturn [{ json: { body: body, signature: signature, popData: popData } }];"
      }
    },
    {
      "id": "trigger_router",
      "name": "SDLC Router Trigger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3000,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/sdlc-router",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-hub-signature-256",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "telegram_notif",
      "name": "Telegram: Started",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3200,
        700
      ],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=\u25b6\ufe0f Queue: {{ $json.popData.next_item.item_id }} opgepakt\n\ud83d\udcca Score: {{ $json.popData.next_item.queue_score }} ({{ $json.popData.next_item.type }}/{{ $json.popData.next_item.priority }})\n\ud83d\udce6 {{ $json.popData.remaining_queue.queue.length }} items resterend"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET LOCK.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET LOCK.json": {
      "main": [
        [
          {
            "node": "Is locked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is locked?": {
      "main": [
        [
          {
            "node": "IF locked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF locked": {
      "main": [
        [],
        [
          {
            "node": "GET QUEUE.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET QUEUE.json": {
      "main": [
        [
          {
            "node": "Pop item from queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pop item from queue": {
      "main": [
        [
          {
            "node": "IF queue empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF queue empty": {
      "main": [
        [],
        [
          {
            "node": "GET item frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET item frontmatter": {
      "main": [
        [
          {
            "node": "Check status changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check status changed?": {
      "main": [
        [
          {
            "node": "IF status changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF status changed": {
      "main": [
        [
          {
            "node": "PUT QUEUE (item skipped)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "IF acquired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF acquired": {
      "main": [
        [
          {
            "node": "PUT QUEUE (success)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "PUT QUEUE (success)": {
      "main": [
        [
          {
            "node": "Prepare SDLC Router Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SDLC Router Auth": {
      "main": [
        [
          {
            "node": "SDLC Router Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SDLC Router Trigger": {
      "main": [
        [
          {
            "node": "Telegram: Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "sdlc"
  ]
}